@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Mono&display=swap');

body {

    font-family: 'Pacifico', sans-serif;
    background-color: aquamarine;
}

:root {

    --light-color: #FCFCFD;
    --primary-color: #494F56; 
    /* --primary-color: #D4D5D9; */

}

nav {
    padding: 1rem;
    font-size: 25px;
    text-align:right

}

h1 {
    /* line-height: 400px; */
    /* height: 100px; */
    /* text-align: center; */

    padding-top: 5rem;
}

.navpills {
    padding: 8px;
    text-decoration: none;
}




.row {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    margin-top:10px;
    border: 20px solid gray;
    border-radius: 50px;
}

.column {

    flex-grow: 1;

}

.light-section {

    background-color: var(--light-color);
    height: 60vh;
    padding-top: 5rem;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}


.dark-section {

    background-color: var(--primary-color);
    height: 72.8vh;
    color:  lightgrey;
    text-align: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}

.form-input {

    display: block;
    margin: auto;
    text-align: center;
    padding: 1.5rem;
}

#is-triangle-btn {
    display: block;
    margin: auto;
    margin-top: 1rem;
    background: transparent;
    border: solid;
    color: var(--prmary-green);
    border-color: var(--prmary-green);
    border-width: medium;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
  }


  #output {

    font-size: 25px;

  }